/*
 APMENU BASE THEME STYLE
 @lgtma
*/

@import 'apui/styles.css'; /* fontastic icon */

header {
	background: #deecf8;
	line-height: 50px;
}
header h1 {
	margin: 0;
}

nav[role="navigation"] {
	background: #2a6496;
}

nav[role="navigation"] .ap-menu a{
	color: #fff;
}
nav[role="navigation"] .ap-menu li a > i.icon{
	background: #023E72;
}

nav[role="navigation"] .ap-menu{
	z-index: 1;
}
nav[role="navigation"] .ap-menu li{
	position: relative;
}
nav[role="navigation"] .ap-menu li a{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
}
nav[role="navigation"] .ap-menu li a > i.icon{
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
nav[role="navigation"] .ap-menu{
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	background: #2a6496;
}

body.ap-nav-active nav[role="navigation"] .ap-menu{
	border-top: 1px solid #023e72;
}
nav[role="navigation"] .ap-sub-menu{
	background: #0A4A81;
}
nav[role="navigation"] .ap-sub-menu li .ap-sub-menu{
	background: #053A68;
}
nav[role="navigation"] .ap-menu li a{
	border-bottom: 1px solid #023e72;
}

.ap-menu,
.ap-sub-menu{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

body.ap-nav-active .ap-menu,
.ap-menu li.shrink > .ap-sub-menu{
	max-height: 1000px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	 -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.ap-sub-menu{
	max-height: 0;
	overflow: hidden;
}

/* ap-toggle */
.ap-toggle{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.ap-toggle{
	background: #2a6496;
	text-align: center;
	width: 50px;
	height: 50px;
}
.ap-toggle i.icon{
	color: #fff;
	font-size: 25px;
	line-height: 50px;
}

.ap-menu .icon,
.toggle-subnav .icon{
	display: block;
}

.ap-toggle .icon:before,
.toggle-subnav .icon:before {
	line-height: 55px;
}

/*--------------------------------------------------------------
  Media Query
--------------------------------------------------------------*/

/* Tablet up (includes iPads in landscape) */
@media (min-width: 992px){

	.ap-toggle{
		display: none;
	}

	nav[role="navigation"] .ap-menu {
		max-height: initial;
		overflow: initial;
		position: relative;
		top: 0;
	}

	nav[role="navigation"] .ap-menu > li > a {
		padding-right: 30px;
	}
	nav[role="navigation"] .ap-menu li a > i.icon {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	nav[role="navigation"] .ap-menu .icon:before{
		line-height: 32px;
	}
	nav[role="navigation"] .ap-menu li a{
		border-bottom: 0;
	}
	nav[role="navigation"] .ap-sub-menu{
		background: #2a6496;
	}
	nav[role="navigation"] .ap-menu li a > i.icon{
		background: transparent;
	}

	nav[role="navigation"] .ap-menu:before,
	nav[role="navigation"] .ap-menu:after{
		content: "";
		display: table;
	}
	nav[role="navigation"] .ap-menu:after{
		clear: both;
	}

	nav[role="navigation"] .ap-menu > li{
		float: left;
		overflow: hidden;
	}
	nav[role="navigation"] .ap-menu > li:hover,
	nav[role="navigation"] .ap-menu li:hover > .ap-sub-menu{
		overflow: initial;
	}
	nav[role="navigation"] .ap-menu li a{
		line-height: 30px;
	}

	/* ap-sub-menu */
	.ap-menu li:hover > .ap-sub-menu{
		max-height: 1000px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	.ap-sub-menu{
		position: absolute;
		min-width: 150px;
		background: #444;
	}
	.ap-sub-menu li:hover{
		background: #0A4A81;
	}
	.ap-sub-menu li > ul{
		top: 0;
		left: 150px;
	}
	.ap-sub-menu .toggle-subnav i.icon{
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background: transparent;
	}

}
