*{
	box-sizing: border-box;
}
html{ height: 100%; }
body{
	min-height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif, arial;
	font-size: 13px;
	letter-spacing: .5px;
}
a,
a:hover,
a:focus{
	text-decoration:none;
	outline:none;
	transition:all .5s;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ls{
	display: none;
	color: red;
}

/* LAYOUT */
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.site-content{
	min-height: 100%;
}
.site-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media (min-width: 992px){
	.container{
		width: 80%;
	}
} /*end min-width: 992px */

@media (min-width: 1170px){
	.container{
		width: 85%;
	}
} /*end min-width: 1170px */

@media (min-width: 1200px){
	.ls{
		display: block;
	}
	.container{
		width: 90%;
	}
} /*end min-width: 1200px */

/* Navigation */
.site-nav li a{
	display: block;
	line-height: 30px;
}
